<html>
<head>
  <title>{{title}}</title>
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
  <link rel="canonical" href="http://mysite.com/" />
  <link rel="stylesheet" href="http://mysite.com/style.css" type="text/css" />
  <link rel="alternate" href="http://feeds.feedburner.com/feed" type="application/rss+xml" title="Direct Feed"/>
  <link rel="shortcut icon" href="http://mysite.com/images/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon-precomposed" href="http://mysite.com/images/apple-retina.png" sizes="114x114" />
  <link rel="apple-touch-icon-precomposed" href="http://mysite.com/images/apple-ipad.png" sizes="72x72" />
  <link rel="apple-touch-icon" href="http://mysite.com/images/apple-touch.png" />
  <meta name="description" content="mysite html5 framework with scheme.org" />
</head>
<body>
<header>
  <div itemscope itemtype="http://schema.org/Restaurant">
    <h1 itemprop="name">{{title}}</h1>
    <meta itemprop="description" value="{{description}}"/>
    <div property="address"  typeof="PostalAddress">
      <span property="streetAddress">{{address.street}}</span>
      <span property="addressLocality">{{address.city}}</span>,
      <span property="addressRegion">{{address.province}}</span>
      <span property="postalCode">{{address.postalCode}}</span>
    </div>
    <span itemprop="telephone">{{telephone}}</span>
    <a itemprop="email" href="mailto:{{email}}">Email Us</a>
    <time itemprop="openingHours" datetime="{{openingHours}}">
      {{openingHoursLabel}}
      <!-- Tuesdays and Thursdays 4-8pm-->
    </time>
    <meta itemprop="paymentAccepted" value="Visa,Mastercard,Cash" />
    <meta itemprop="priceRange" value="{{priceRange}}" />
    <meta itemprop="acceptsReservations" value="{{acceptsReservations}}" />
    <meta itemprop="servesCuisine" value="{{servesCuisine}}" />
    <a itemprop="hasMap" href="{{hasMap}}">Map</a>
    <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
      <meta itemprop="latitude" content="{{geo.latitude}}" />
      <meta itemprop="longitude" content="{{geo.longitude}}" />
    </div>
  </div>

  <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
  {{#each menu.groups}}
    <div>
      <span>{{name}}</span>
    </div>
  {{/each}}

  {{#each groupMenu.groups}}
    <div>
      <span>{{name}}</span>
    </div>
  {{/each}}
  </nav>
</header>

<main>
  <section class="menu" itemscope itemtype="http://schema.org/Menu">
    <header>
      <h1 itemprop="name">{{name}}</h1>
      <span itemprop="description">{{description}}</span>
    </header>

    {{#each singleMenu.groups}}
      <section>
        <header>
          <h1 itemprop="name">{{name}}</h1>
          <span itemprop="description">{{description}}</span>
        </header>
      {{#each list}}
        <div itemscope itemtype="http://schema.org/Thing">
          <span itemprop="name">{{name}}</span>
          <span itemprop="description">{{description}}</span>
          <span itemprop="price">{{price}}</span>
          <span itemprop="image">{{image}}</span>
        </div>
      {{/each}}
      </section>
    {{/each}}
  </section>

  <section class="group-menu">
    <header>
      <h1 itemprop="name">{{name}}</h1>
      <span itemprop="description">{{description}}</span>
    </header>

    {{#each groupMenu.groups}}
      <section>
        <header>
          <h1 itemprop="name">{{name}}</h1>
          <span itemprop="description">{{description}}</span>
          <!-- select number of people, default is 4 -->
          <label>People <input type="range" value="4"/></label>
        </header>
        {{#each list}}
          <div itemscope itemtype="http://schema.org/Thing">
            <span itemprop="name">{{name}}</span>
            <span itemprop="price">{{price}}</span>
            <span itemprop="description">{{description}}</span>
            <span itemprop="image">{{image}}</span>
          </div>
        {{/each}}
      </section>
    {{/each}}
  </section>
</main>

<footer>

</footer>
</body>
</html>
